{% extends 'MyApp\UserBundle::layout.html.twig' %}
{% block contenu %}


    
    <h2 class="indent-left margin-bot">Editer l'utilisateur</h2>
    {{ form(edit_form) }} 
        <ul class="record_actions">
    <li>
        <a href="{{ path('utilisateur') }}">
            <input type="submit" value="Back to the list"/> 
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  {{form_rest(delete_form)}}
    {{form_rest(edit_form)}}    
</ul>

{% endblock %}