<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta content="telephone=no" name="format-detection" />
        <!-- Facebook sharing information tags -->
        <title>Email Template</title>


        <style type="{{asset('text/css')}}" media="screen">
            /* Linked Styles */
            body { padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background-image:url(images/background.jpg); background-position:0 0; background-repeat:no-repeat repeat-y }
            a { color:#93bc45; text-decoration:underline }

            /* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
            p { padding:0 !important; margin:0 !important } 
        </style>
    </head>
    <body class="body" style="padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background-image:url(images/background.jpg); background-position:0 0; background-repeat:no-repeat repeat-y">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="{{asset('images/background.jpg')}}" style="{{('background-image: url(images/background.jpg); background-position: 0 0; background-repeat: no-repeat repeat-y;"')}}>
            <tr>
                <td align="center" valign="top">
                    <table width="660" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                            <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
                            <td>
                                <!-- Top -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#4f3c30">
                                    <tr>
                                        </td>
                                        <td class="top" style="color:#8c8c8c; font-family:'Trebuchet MS'; font-size:10px; line-height:14px; text-align:left">recevez votre newslettre chaque semaine <a class="link-u" style="color:#93bc45; text-decoration:underline" target="_blank" href="*|ARCHIVE|*"></a></td>
                                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                    </tr>
                                </table>
                                <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{('images/header_bottom.jpg')}}" alt="" border="0" width="620" height="4" /></div>
                                <!-- END Top -->


                                <!-- Header -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{asset('images/logo.jpg')}}" mc:edit="image_1" mc:allowdesigner mc:allowtext width="115" style="max-width:115px" height="27" alt="" border="0" /></td>
                                        <td align="right">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="header" style="{{asset('color:#afa299; font-family:Georgia; font-size:11px; line-height:15px; text-align:left"><a class="link')}}" style="{{asset('}color:#93bc45; text-decoration:none" target="_blank" href="*|UPDATE_PROFILE|*')}}">merci pour votre fidelité</a></td>
                                                    <td class="img" style="{{asset('font-size:0pt; line-height:0pt; text-align:left" width="18')}}"></td>

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END Header -->


                                <!-- Featured Image -->
                                <div class="img" style="{{asset('font-size:0pt; line-height:0pt; text-align:left')}}">
                                    <img src="{{asset('images/featured_img.jpg')}}" mc:edit="image_2" mc:allowdesigner mc:allowtext width="620" style="max-width:620px" height="300" alt="" border="0" />
                                </div>
                                <!-- END Featured Image -->


                                <!-- Content -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    
                                  
                                    <tr>
                                        <td>
                                            <div mc:repeatable>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" style="background: #ffffff !important">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="h4" style="color:#5b5443; font-family:Georgia; font-size:14px; line-height:18px; text-align:left; font-weight:normal; white-space:nowrap">
                                                                    <div mc:edit="title_1">Etats-Unis</div>
                                                                </div>


                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal">
                                                                    <div mc:edit="title_2">La bibliothèque de Kansas City</div>
                                                                </div>


                                                                <div mc:edit="text_1">La Bibliothèque municipale de Kansas City aux États Unis s’est rendue célèbre par son originalité architecturale. En effet, elle propose une façade en forme de grands livres rangés, un peu comme sur l’étagère d’une bibliothèque en quelques sortes. Ces livres font partis des grandes œuvres classiques de la culture littéraire occidentale </div>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_2"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td valign="top" class="img-right" style="font-size:0pt; line-height:0pt; text-align:right" width="320"><img src="{{asset('images/img1.jpg')}}" mc:edit="image_3" mc:allowdesigner mc:allowtext alt="" border="0" width="302" style="max-width:302px" height="186" /></td>
                                                    </tr>
                                                </table>


                                            </div>
                                            <div mc:repeatable>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="320"><img src="{{asset('images/img2.jpg')}}" mc:edit="image_4" mc:allowdesigner mc:allowtext alt="" border="0" width="302" style="max-width:302px" height="186" /></td>
                                                        <td valign="top" style="background:#ffffff !important;">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="h4" style="color:#5b5443; font-family:Georgia; font-size:14px; line-height:18px; text-align:left; font-weight:normal; white-space:nowrap">
                                                                    <div mc:edit="title_3">Barcelone</div>
                                                                </div>


                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal">
                                                                    <div mc:edit="title_4">EL Camp nou</div>
                                                                </div>


                                                                <div mc:edit="text_3">Avez-vous déja vu le stade Camp nou en pleine lumiere dans la nuit ?? une experience à ne pa rater,Avec une capacité de 99 354 places, le Camp Nou est le plus grand stade d'Europe et le douzième plus grand stade du monde </div>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_4"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>

                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>


                                            </div>

                                            <div mc:repeatable>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" style="background: #ffffff !important;">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="h4" style="color:#5b5443; font-family:Georgia; font-size:14px; line-height:18px; text-align:left; font-weight:normal; white-space:nowrap">
                                                                    <div mc:edit="title_5">Portugal</div>
                                                                </div>


                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal">
                                                                    <div mc:edit="title_6">Palais de la Regaleira</div>
                                                                </div>


                                                                <div mc:edit="text_5">Le palais et les jardins de sa Quinta (domaine) ont été créés par Antonio Augusto Carvalho Monteiro (1848-1920) avec l'aide de l'architecte Luigi Manini (1848-1936) ; ils s'étendent aujourd'hui sur 4 hectares., </div>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_6"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td valign="top" class="img-right" style="font-size:0pt; line-height:0pt; text-align:right" width="320"><img src="{{asset('images/img3.jpg')}}" mc:edit="image_5" mc:allowdesigner mc:allowtext alt="" border="0" width="302" style="max-width:302px" height="186" /></td>
                                                    </tr>
                                                </table>


                                            </div>

                                            <div mc:repeatable>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" width="182" style="background: #ffffff !important">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{asset('images/img4.jpg')}}" mc:edit="image_6" mc:allowdesigner mc:allowtext alt="" border="0" width="182" style="max-width:182px" height="134" /></div>

                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal"> Le Restaurant Falaise</div>

                                                                <div mc:edit="text_7">
                                                                    Imaginez-vous entrain de boire un caffé, quel sentiment !
                                                                </div>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_8"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="38"></td>
                                                        <td valign="top" width="182" style="background: #ffffff !important">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{asset('images/img5.jpg')}}" mc:edit="image_7" mc:allowdesigner mc:allowtext alt="" border="0" width="182" style="max-width:182px" height="134" /></div>

                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal"> Le village de Popeye</div>

                                                                <div mc:edit="text_9">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar nisl sed libero pulvinar ac eleifend est lacinia. Suspendisse arcu ipsum, ultrices eu aliquet quis, convallis non felis dolor sit amet.
                                                                </div>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_10"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="37"></td>
                                                        <td valign="top" width="182" style="background: #ffffff !important">
                                                            <div class="text" style="color:#797777; font-family:Georgia; font-size:12px; line-height:22px; text-align:left">
                                                                <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{asset('images/img6.jpg')}}" mc:edit="image_8" mc:allowdesigner mc:allowtext alt="" border="0" width="182" style="max-width:182px" height="134" /></div>

                                                                <div class="h2" style="color:#231f20; font-family:Georgia; font-size:28px; line-height:38px; text-align:left; font-weight:normal"> la petite cité de Blagaj</div>

                                                                <div mc:edit="text_11">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar nisl sed libero pulvinar ac eleifend est lacinia. Suspendisse arcu ipsum, ultrices eu aliquet quis, convallis non felis dolor sit amet.
                                                                </div>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td class="more" style="color:#797777; font-family:Georgia; font-size:12px; line-height:16px; text-align:left; text-transform:uppercase"><div mc:edit="text_12"><a href="#" target="_blank" class="link" style="color:#93bc45; text-decoration:none"><span class="link" style="color:#93bc45; text-decoration:none"></span></a></div></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END Content -->

                                <!-- Footer -->



                                </body>
                                </html>
